<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEnckJ3d4zAZ2f9iMiP6mXa-N6w0Dw8FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>710201804277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.polman.maijek.user</string>
	<key>PROJECT_ID</key>
	<string>maijek-production</string>
	<key>STORAGE_BUCKET</key>
	<string>maijek-production.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710201804277:ios:ef80b7cedba611b1e14cbc</string>
	<key>DATABASE_URL</key>
	<string>https://maijek-production-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>